@media all and (min-width: 1920px) {
    .default-ltr-cache-7ujrbr {
        width:auto;
        -webkit-flex: 0 auto;
        -ms-flex: 0 auto;
        flex: 0 auto;
    }
}
@media screen and (max-width: 599.98px) {
    .default-ltr-cache-1sk81mw .ea3diy34>select {
        width:0.0625rem!important;
        padding-right: 1.75rem!important;
    }
}